* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  
}

.intro {
  width: 100%;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.nav-links {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  background-color: rgba(231, 116, 7, 0.8);
  border-radius: 1rem 0.5rem 1rem 0.5rem;
  padding-left: 2rem;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

li {
  margin: 1.5rem;
  text-align: right;
}

.nav-link-item {
  text-decoration: none;
  text-decoration-color: none;
  color: white;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  transition: 0.1s ease-in-out;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-link-item:hover {
  color: white;
  border-left: solid white 2px;
}

.slogan {
  min-width: 780px;

  height: 39vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  /*     background-color: rgba(231, 116, 7, 0.9);
 */
}

.div-title {
  background-color: rgba(231, 116, 7, 0.9);
  flex-basis: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem 35rem 5rem 35rem;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}
@media (max-width: 920px) {
  .title {
    font-size: 1.8rem;
  }
}

.div-words {
  flex-basis: 30%;
}

.words {
  margin: 1rem;
  color: rgb(78, 74, 50);
  font-style: italic;
  text-align: center;
}

.projects-peek{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.projects-peek div{
  background-image: url(images/wp8414109.webp);
  
  background-size: cover;
  
  height: 600px;
  width:90%;
  display: flex;
  align-items:flex-start;
  border-radius: 1.5rem;
}
.projects-peek h1{
  color: rgb(39, 0, 0);
  font-size: 4rem;
  font-weight:900;
  margin-left: 10rem;
  margin-top: 3rem;
  line-height: 3.95rem;
  text-transform: uppercase;
}
.projects-peek a:link, .projects-peek a:visited{
  color:white;
  text-decoration: none;
}

.about {
  
  /*   background-color: rgba(128, 128, 128, 0.473);
 */
  padding-bottom: 1rem;
  border-radius: 6rem 12rem 10rem 4rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  background-image: linear-gradient(
      rgba(68, 10, 2, 0.664),
      rgba(27, 26, 24, 0.521)
    ),
    url("images/wp8414109.webp");
  background-size: cover;
}

.about-us,
.projects-title,
.contact-us-title {
  

  background-color: rgba(231, 116, 7, 0.9);
  width: 80%;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem 4rem 1rem 4rem;
  margin-bottom: 1.5rem;
}

.about-us-title,
.projects-title-header,
.contact-us-header {
  font-size: 2rem;
  color: white;
  letter-spacing: 0.2rem;
}

.vision,
.mission,
.strength {
  /*         background-color: rgba(231, 116, 7, 0.9);
*/
  
  margin-right: 2.5rem;
}

.vision-title,
.mission-title,
.strength-title {
  letter-spacing: 1.1rem;
  background-color: rgba(231, 116, 7, 0.9);
  font-size: 1.6rem;
  width: 40%;
  border-radius: 1rem 4rem 1rem 4rem;
}

.vision-title,
.vision-words,
.mission-title,
.mission-words,
.strength-title,
.strength-words {
  color: white;
  padding: 1rem;
  text-align: center;
}

.vision-words,
.mission-words,
.strength-words {
  background-color: rgba(78, 74, 50, 0.8);
  line-height: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  
  border-radius: 1rem 3rem 1rem 3rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.about-words {
  padding: 2rem;
  color: rgb(78, 74, 50);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1.5rem;
}

.strength-words {
  text-align: left;
}

.cards {
  border-radius: 15rem 5rem 5rem 15rem;
  margin: 3rem 2rem;
  padding-bottom: 1rem;
}
.project-card {
  background-color: rgba(78, 74, 50, 0.5);
  margin: 1rem auto;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-card:hover {
  background-color: rgba(0, 0, 0, 1);
}
.project-cards-box{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap:1rem;
  
}

.project-card-image{
  width: 600px;
  height: 400px;
}
.project-card-link {
  text-decoration: none;
}


.project-card-name {
  color: white;
  text-align: center;
  padding: 1rem;
  letter-spacing: 0.3rem;
  font-size: 1.3rem;
}
.project-card-name:hover {
  color: rgba(231, 116, 7, 0.9);
}

.project-sheet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  gap:1rem;
  
}
.project-name-container{
  text-align: center;
  width: 40%;
  
  border-radius: 3rem 1rem 3rem 1rem;
  padding: 1rem;
  background-color: rgba(77, 68, 68, 0.8)
}
.project-name{
  margin:auto;
  font-size: 1.3rem;
  color: white;
}
.project-data{
  display: flex;
  width:100%;
  justify-content:center;
  min-width: 320px;
  gap: 0.5rem;
}
.left-col{
  text-align: left;
  background-color: rgba(184, 170, 170, 0.164);
  padding: 1rem;
  border-radius: 1rem 0rem 0rem 1rem;
  
}
.right-col{
  text-align: left;
  background-color:rgba(184, 170, 170, 0.062);
  padding: 1rem;
  border-radius: 0rem 1rem 1rem 0rem;
}
.criteria, .data{
  font-size: 1.2rem;
  color: rgb(136, 70, 7);
  line-height: 2rem;
  text-overflow: clip;
}
.criteria{
  font-weight: bolder;
  padding-right: 3rem;
}
.project-sheet-images{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.project-sheet-images img{
  max-width:400px;
  max-height: 300px;
}
.contact-us-container{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom: 20px;
  padding: 0 2rem;
  
}
.map-container{
  width:100%;
  
  display: flex;
  justify-content:center;
  align-items:center;
}
.map{
  width: 550px;
  height:350px
  
}

.contact-details{
  display: flex;
  margin: 2rem;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width:100%;
}

.address, .contact{
  background-color: rgb(153, 80, 12);
  line-height: 1.3rem;
  padding: 1rem;
  color: white;
  
}
.address h5{
  font-size: 1rem;
  padding-bottom: 0.5rem;

}
.address p, .contact p{
  font-size: 0.85rem;
  
}
.contact p{
  line-height: 2rem;
}
.contact a:link, .contact a:visited{
  color:white;
  text-decoration: none;
}
.footer{
  position: -webkit-sticky;
    position: sticky;
    
    bottom: 0px;
    width: 100vw;
}
.footer div{
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: rgba(105, 105, 105,0.8);
  height: 2rem;
  white-space: nowrap;
}
.footer p, .footer a{
  margin-right: 15rem;
  margin-left: 15rem;
  color:white;
  letter-spacing: 0.3rem;
  font-size: 00.85rem;
}
.footer a:link, .footer a:visited{
  color:white;
  text-decoration: none;
}

@media (max-width: 700px) {
  .intro {
    min-height: 70px;
    min-width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nav-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 1rem;
  }

  li {
    margin: 1rem 0.2rem;
  }

  .nav-link-item {
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
  }
  .nav-link-item:hover {
    color: white;
    border-left: solid white 0px;
  }

  .logo {
    width: 300px;
  }

  .slogan {
    flex-direction: column;
    min-width: 360px;
  }

  .title {
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    margin: auto;
  }

  .div-title {
    width: 100%;
    border-radius: 3rem 35rem 3rem 35rem;
    margin-right: 3rem;
  }

  .words-home {
    font-size: 0.9rem;
  }
  .projects-peek{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .projects-peek div{
    background-image: url(images/wp8414109.webp);
    
    background-size: cover;
    height: 500px;
    width:90%;
    display: flex;
    align-items:flex-end;
    border-radius: 1.5rem;
  }
  .projects-peek h1{
    color: white;
    font-size: 2.4rem;
    margin-left: 20px;
    margin-bottom: 40px;
    line-height: 2rem;
  }
  .projects-peek a:link, .projects-peek a:visited{
    color:white;
    text-decoration: none;
  }

  .about {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    
    background: none;
    padding-bottom: 1rem;
    border-radius: 2rem 15rem 2rem 15rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .about-us,
  .projects-title {
    

    background-color: rgba(231, 116, 7, 0.9);
    width: 80%;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem 4rem 1rem 4rem;
  }

  .about-us-title,
  .projects-title-header {
    font-size: 1.2rem;
    color: white;
    letter-spacing: 0.2rem;
  }

  .vision,
  .mission,
  .strength {
    /*         background-color: rgba(231, 116, 7, 0.9);
 */
    
    margin-left: 0rem;
    margin-right: 1rem;
  }

  .vision-title,
  .mission-title,
  .strength-title {
    letter-spacing: 1.1rem;
    background-color: rgba(231, 116, 7, 0.9);
    font-size: 1rem;
    width: 60%;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
  }

  .vision-title,
  .vision-words,
  .mission-title,
  .mission-words,
  .strength-title,
  .strength-words {
    color: white;
    padding: 0.5rem;
  }

  .vision-words,
  .mission-words,
  .strength-words {
    background-color: rgba(78, 74, 50, 0.9);
    line-height: 2rem;
    font-size: 0.85rem;
    text-align: left;
    width: 100%;
    border-radius: 0.5rem 2rem 0.5rem 2rem;
  }

  .about-words {
    padding: 2rem;
    color: rgb(78, 74, 50);
    background-color: rgba(255, 202, 202, 0.8);
  }

  .cards {
    border-radius: 15rem 5rem 5rem 15rem;
    margin: 1rem 0.5rem;
    background: none;
  }
  .project-card {
    background-color: rgba(78, 74, 50, 0.7);
    margin: 1rem auto;
    
    
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  }

  .project-cards-box{
    display: flex;
    flex-direction: column;
  }

  .project-card-image {
    width: 20rem;
    height: 15rem;
  }
  .project-card-name {
    color: white;
    text-align: center;
    padding: 1rem;
    letter-spacing: 0.3rem;
    font-size: 0.8rem;
  }

  .project-sheet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    gap:1rem;
    
  }
  .project-name-container{
    text-align: left;
    width: 90%;
    background-color: blueviolet;
    border-radius: 3rem 1rem 3rem 1rem;
    padding: 1rem;
    background-color: rgba(77, 68, 68, 0.8)
  }
  .project-name{
    margin-left: 10vw;
    color: white;
  }
  .project-data{
    display: flex;
    width:100%;
    justify-content:space-around;
    min-width: 320px;
    
  }
  .left-col, .right-col{
    text-align: left;
  }
  .criteria, .data{
    font-size: 0.8rem;
    color: rgb(136, 70, 7);
    line-height: 2rem;
    text-overflow: clip;
    
  }
  .criteria{
    font-weight: bolder;
    
  }

  .mySlides {display: none;}

.mySlides img {
  vertical-align: middle;
  height: 250px;
  
}

.projects-images-slider {
    width: 90%;
    
    position: relative;
    margin: 0rem 1rem;
    margin-bottom: 3rem;
    
    
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

.next {
    right: 0;
    border-radius: 15px 15px 15px 15px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  .project-sheet-images{
    
    display: flex;
    flex-direction: column;
    
    margin-bottom: 2rem;
    
  }
  .project-sheet-images img{
    height: 250px;
    width: 320px;
    margin-bottom: 0.2rem;
  }
  .contact-us-container{
    display:flex;
    flex-direction: column;
  }
  .map-container{
    
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .map{
    height: 350px;
  }
  
  .contact-details{
    display: flex;
    margin: 2rem;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .address, .contact{
    background-color: rgb(153, 80, 12);
    line-height: 1.3rem;
    padding: 1rem;
    color: white;
    
  }
  .address h5{
    font-size: 0.85rem;
    padding-bottom: 0.5rem;

  }
  .address p, .contact p{
    font-size: 0.8rem;
    
  }
  .contact p{
    line-height: 2rem;
  }
  .contact a:visited{
    color:white;
  }

  .footer{
    position: -webkit-sticky;
    position: sticky;
    
    bottom: 0px;
    width: 100vw;
  }
  .footer div{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgba(105, 105, 105,0.8);
    height: 1.5rem;
    
  }
  .footer p, .footer a{
    margin-right: 1rem;
    margin-left: 1rem;
    color:white;
    letter-spacing: 0rem;
    font-size: 00.7rem;
    
  }
  
  .footer a:link, .footer a:visited{
    color:white;
    text-decoration: none;
  }
  
}



.mySlides {display: none;}

.mySlides img {
  vertical-align: middle;
 /*  height: 650px; */
  
}

.projects-images-slider {
    max-width: 100%;
    
    position: relative;
    margin: 0rem 5rem;
    margin-bottom: 3rem;
    
    
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -ms-user-select: none; 
    -webkit-user-select: none;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 15px 15px 15px 15px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .numbertext {
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
